
body {
  background-color:rgb(247, 210, 247);
  font-family:cursive, serif;

}
h1 {
  color:rgb(150, 0, 0);
  text-align:center;
}
h3 {
  font-size:22px;
  color:rgb(150, 0, 0);
  font-family:fantasy;

}
a:hover {
  color:rgb(181, 51, 181);
}
a {
  font-weight:bold;
}
p {
  font-family: cursive;

}
#volcanofpara {
  float:right;
  background:rgb(237, 194, 126);
  border-style:ridge;
  border:3px;
  border-color:rgb(197, 227, 225)

}

#funfactdiv {
  background:rgb(0, 150, 50);
  float:right;
  width:100%;
  align-content:center;
  margin-left:auto;
  text-align:center;
}
.footer {
  font-size:11px;
  font-family:serif;

}
#volcanoformheading {
  color:rgb(150, 0, 0);
}
